<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>djangular</title>
    <link rel="stylesheet" type="text/css"
          href="{% static "scrumboard/css/scrumboard.css" %}">
</head>
<body ng-app="scrumboard">
<ng-view>

</ng-view>
<script src="{% static "lib/angular.min.js" %}"></script>
<script src="{% static "lib/angular-route.min.js" %}"></script>
<script src="{% static "scrumboard/js/scrumboard.js" %}"></script>
<script src="{% static "scrumboard/js/scrumboard.config.js" %}"></script>
<script src="{% static "scrumboard/directives/card.directive.js" %}"></script>
<script src="{% static "scrumboard/js/login.controller.js" %}"></script>
</body>
</html>